@{
    ViewBag.Title = "VipControle";
}

<h2>E-mail confirmado com sucesso.</h2>
<div>
    <p>
        Obrigado por confirmar seu e-mail. Por favor @Html.ActionLink("clique aqui", "Login", "Account", null, new {id = "loginLink"}) para efetuar o Login.
    </p>
</div>