@{
    ViewBag.Title = "VipControle";
}

<h2>Senha alterada com sucesso!</h2>
<br/>
<hr/>

<div>
    <p>
        Sua senha foi alterada com sucesso. Por favor @Html.ActionLink("clique aqui", "Login", "Account", null, new { id = "loginLink" }) para efetuar o Login.
    </p>
</div>