

<div class="ink-grid vertical-space">
    <div class="column-group horizontal-gutters">
        <div class="all-50">
            <h1>Coding Craft</h1>
            <p class="note">Layout - Sapo Ink</p>
            <p class="grey">Aplicação WEB para exercício do Capítulo 2.</p>
            <div class="top-space">
                <a href="http://www.codingcraft.com.br" target="_blank" class="ink-button blue">Saiba Mais</a>
            </div>
        </div>
        <div class="all-50">
            <figure class="ink-image bottom-space">
                <img src="~/Images/codingcraft.png" class="orbit-image" alt=""/>"/>
                <figcaption class="over-bottom">Coding Craft</figcaption>
            </figure>
        </div>
    </div>
</div>



