

<div class="callout large alert">
    <div class="row column text-center">
        <h1>Coding Craft</h1>
        <p>Layout - Zurb Foundation</p>
        <p class="lead">Aplicação WEB para exercício do Capítulo 2.</p>
        <p><a href="http://www.codingcraft.com.br" target="_blank" class="button large">Saiba Mais</a>
    </div>
</div>



