<div class="jumbotron">
    <h1>Coding Craft</h1>
    <p class="lead">Projeto para exercício 05 do curso Coding Craft ASP.Net Módulo 01.</p>
    <p>
        <a href="http://codingcraft.com" class="btn btn-primary btn-lg">Saiba Mais</a>
    </p>
</div>