@model CodingCraftEx06.Models.Country

@{
    ViewBag.Title = "Country";
}

<h2>Details</h2>

<div>
    <h4>Country</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CountryId }, new {@class = "btn btn-info"})
    @Html.ActionLink("Back to List", "Index", null, new {@class = "btn btn-dark"})
</p>
