@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Por favor verifique seu e-mail para cadastrar uma nova senha.
    </p>
    <br/>
    <p class="text-danger">
        Somente demonstração: Você pode clicar neste link para resetar sua senha: <a href="@ViewBag.Link">link</a>
    </p>
</div>

