@model CodingCraft.Ex02.Models.GrupoProduto

@{
    ViewBag.Title = "Editar";
}

@{
    var sessionLayout = Session["layout"]?.ToString() ?? "bootstrap";

    switch (sessionLayout)
    {
        case "bootstrap":
            @Html.Partial("_Editar")
            break;
        case "zurb":
            <div class="grid-x grid-padding-x">
                <div class="cell large-offset-20"></div>
                <div class="cell large-100">
                    @Html.Partial("_EditarZurb")
                </div>
            </div>
            break;
        case "ink":
            <div class="ink-grid vertical-space">
                @Html.Partial("_EditarInk")
            </div>
            break;
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}