@model HandleErrorInfo

@{
    ViewBag.Title = "Conta Bloqueada";
}

<hgroup>
    <h1 class="text-danger">Ops! :(.</h1>
    <h2 class="text-danger">Esta conta está bloqueada. Tente novamente mais tarde.</h2>
</hgroup>