<!--<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\VipControle.mdf;Initial Catalog=VipControle;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>-->

<connectionStrings>
  <add name="DefaultConnection"
       connectionString="Server=tcp:,1433;Initial Catalog=VipControle;Persist Security Info=False;User ID=;Password=;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
       providerName="System.Data.SqlClient" />
</connectionStrings>