<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Erro</title>
</head>
<body>
<hgroup>
    <h1>Erro :(</h1>
    <h2>Um erro ocorreu durante a requisição. Por favor, tente novamente.</h2>
</hgroup>
</body>
</html>