@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erro";
}

<hgroup>
    <h1 class="text-error">Erro</h1>
    <h2 class="text-error">Um erro ocorreu enquanto o processo era requisitado.</h2>
</hgroup>
