@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Coding Craft</h1>
    <p>Sistema para exercício do capítulo 01.</p>
    <p><a href="http://www.codingcraft.com.br" target="_blank" class="btn btn-primary btn-lg">Saiba Mais</a></p>
</div>