@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Seja bem vindo ao <b>VipControle</b>!</h1>
    <br/>
    <p class="lead">Aplicação para controle interno da empresa <strong>VIP Soluções</strong>.</p>
</div>

<div class="row">

</div>